<% content_for(:css) do %>
	<%= include_stylesheets :fancybox %>
<% end %>
<% content_for(:javascript) do %>
	<%= javascript_include_tag 'plugins/jquery.fancybox-1.3.1.pack' %>
	<%= include_javascripts :contatos_index %>
<% end %>

<h1 class="item_contatos">
	<span><%= t "app.menu.contatos" %></span>
</h1>
                                 
<% link_to new_users_contato_path, :class => "novo_contato", :id => "novo" do %>
	<%= t "app.contato.novo" %>
<% end %>
                    
<br/>
<br/>
                 
<%= hidden_field_tag 'contatos_ajax', users_load_contatos_ajax_url %>
<div class="contatos">
	<%= render :partial => 'users/contatos/list' %>
</div>