<% content_for(:javascript) do %>
	<%= javascript_include_tag 'views/grupos/desativar' %>
<% end %>

<div id="form_desativar">
	<div class="texto">
		<%= t ("app.certeza") %>
		<div class="pequeno">
			<%= t("app.textos.desativando_grupo") %>
		</div>
	</div>
	<% form_tag({:controller=>"users/agendamento", :action=>"destroy"}, {:method => "delete", :id => "desativar_form"}) do %>
		<%= hidden_field_tag :grupo_id, @grupo.id %>
		<p>
			<%= submit_tag t("app.grupo.desativar"), :id => "submit_grupo" %>
		</p>
	<% end %>
</div>