<div class="grupo_form">
	<% form_for [:users, @grupo] do |f| %>
	
		<div class="field">
			<p>
		    <%= f.label :nome %>
				<%= f.error_message_on :nome %>
				<br />
		    <%= f.text_field :nome, :style => "width: 600px;" %>
		  </p>
	           
			<p>
		    <%= f.label :mensagem %>
				<%= f.error_message_on :mensagem %>
				<br />       
		    <%= f.text_area :mensagem %>
		  </p>                        
		
			<p>
		    <%= f.label :periodicidade %>
				<%= f.error_message_on :periodicidade %>
				<br />       
		    <%= f.text_field :periodicidade, :style => "width: 100px;" %>
		  </p>                        
			
		</div>
	
		<div style="clear: both;"></div>
	
		<p>
	    <%= f.submit t("app.enviar"), :id => "submit_grupo" %>
	  </p> 
	
	<% end %>
</div>