<% content_for(:css) do %>
	<%= include_stylesheets :jquery_ui %>
<% end %>                                                     

<% content_for(:javascript) do %>
	<%= include_javascripts :grupos_form %>
<% end %>
       
<div class="form_container">
	<% form_for [:users, @grupo] do |f| %>
		<div class="grupo_form">
		    <ul>
		      <li class="field">
				    <%= f.label :nome %>
						<%= f.error_message_on :nome %>
						<br />
				    <%= f.text_field :nome %>
    			</li>
	        <li class="field">
				    <%= f.label :mensagem %>
						<%= f.error_message_on :mensagem %>
						<br />       
				    <%= f.text_area :mensagem %>
    			</li>  
			    <li class="field">
				    <%= f.label :periodicidade, 
								"#{t('activerecord.attributes.grupo.periodicidade')} (Mínimo: #{current_user.plano.periodicidade_min})" 
						%>
						<%= f.error_message_on :periodicidade %>
						<div style="clear: both;"></div>
						<br />       
				    <%= f.text_field :periodicidade %>
				  </li>
		      <li>
		        <%= render :partial => 'users/grupos/contato_search', :locals => {
      				:contatos => @grupo.contatos,
      				:contatos_temporarios => @contatos_temporarios,
      				:grupo => @grupo
      			}%>
      		</li>
				<p>
			    <%= f.submit t("app.salvar"), :id => "submit_grupo" %>
			  </p> 
	      </ul>
		</div>

	<% end %>
	
	<div style="clear: both;"></div>
</div>



















