<% content_for(:javascript) do %>
	<%= include_javascripts :grupos_ativar %>
<% end %>

<div id="form_ativar">
	<div class="texto">
		<%= t("app.textos.ativando_grupo") %>
		<div class="pequeno">
			<%= t("app.textos.aviso_edicao_ativacao_grupo") %>
		</div>
	</div>
	<% form_tag({:controller=>"users/agendamento", :action=>"create"}, {:id => "ativar_form"}) do %>
		<%= hidden_field_tag :grupo_id, @grupo.id %>
		<div class="field">
			<label><%= t("activerecord.attributes.grupo.inicio") %></label>
			<br />
			<%= text_field_tag :inicio_str, @grupo.inicio_str, :id => "grupo_inicio", :style => "width: 120px;" %>
			<span class="data_minima">
				(<%= t("app.grupo.msg.data_minima", :data => @inicio_minimo) %>)
			</span>
			<br/>
			<label><%= t("activerecord.attributes.grupo.qtd_envios") %></label>
			<br/>
			<%= text_field_tag :qtd_envios, '', :id => "grupo_qtd_envios", :style => "width: 120px;" %>
			<span class="qtd_envios">
				(<%= t("app.grupo.info.qtd_envios") %>)
			</span>
		</div>
		<div style="clear: both;"></div>
		<p>
			<%= submit_tag t("app.grupo.ativar"), :id => "submit_grupo" %>
		</p>
	<% end %>
</div>