<div id="grupo_<%= grupo.id %>" class="grupo_box round">
	<span class="nome">
		<% link_to users_grupo_path(grupo) do %>
			<%= truncate(grupo.nome, :length => 55) %>                
		<% end %>
	</span>
  <span class="divisor">&raquo;</span>
	<span class="periodo"><%= grupo.periodicidade_formatado %></span>
  <span class="divisor">&raquo;</span>
	<span class="inicio"><%= grupo.inicio_formatado %></span>
	<% if grupo.inativo? %>
		<span class="opcoes">
			<% link_to edit_users_grupo_path(grupo) do %>
				<%= t "app.grupo.editar" %>
		  <% end %>                  
	
		  &nbsp;|&nbsp;
	
			<% link_to users_grupo_path(grupo), :method => :delete, :confirm => "Você tem certeza?" do %>
				<%= t "app.grupo.remover" %>
			<% end %>
		</span>
	<% end %>
</div>