<div class="grupo_box round shadow">
	<%= render :partial => "users/grupos/status" %>
</div>
<div class="grupo_box round shadow">
  <div class="nome">
  	<span class="label"><%= t ("activerecord.attributes.grupo.nome") %>:</span>
  	<br/>
  	<%= h @grupo.nome %>
  </div>          
</div>
<div class="grupo_box round shadow">
  <div class="periodo inicio">
  	<span class="label"><%= t ("app.enviar") %>:</span>
  	<br/>
	
  	<%= @grupo.periodicidade_formatado %>
  	<% if @grupo.ativo? %>
  		<span class="divisor">&raquo;</span>
  		<%= @grupo.inicio_formatado %>
  	<% end %>
  </div>
</div>
<div class="grupo_box round shadow">
  <div class="mensagem">
  	<span class="label"><%= t ("activerecord.attributes.grupo.mensagem") %>:</span>
  	<br/>
  	<%= h @grupo.mensagem %>
  </div>
</div>
<div class="grupo_box round shadow">
  <%= render :partial => "users/grupos/contatos" %>
</div>
