<div class="grupo_box grupo_box_show round shadow">
  <%= h @grupo.nome.capitalize %>
  <%= render :partial => 'users/grupos/ativar_desativar' %>
</div>
<div class="grupo_box_content round">
  <table>
    <tr>
      <td class="label"><%= t ("activerecord.attributes.grupo.status") %></td>
      <td><%= @grupo.status_str %></td>
    </tr>
    <tr>
      <td class="label"><%= t ("app.enviar") %></td>
      <td>
        <%= @grupo.periodicidade_formatado.capitalize %>
      	<% if @grupo.ativo? %>
      		<span class="divisor">&raquo;</span>
      		<%= @grupo.inicio_formatado %>
      		<span class="divisor">&raquo;</span>
      		<%= @grupo.qtd_envios_formatado %>
      	<% end %>
      </td>
    </tr>
    <tr>
      <td class="label"><%= t ("activerecord.attributes.grupo.mensagem") %></td>
      <td class="mensagem"><%= h @grupo.mensagem %></td>
    </tr>
    <tr>
      <td class="label"><%= t ("app.menu.contatos") %></td>
      <td>
        <%= render :partial => 'users/grupos/item_contato', :collection => @grupo.contatos, :locals => {:grupo => @grupo} %>
  		</td>
    </tr>
  </table>
	
</div>
