<div class="grupo_box round">
	<%= render :partial => "users/grupos/status" %>
	<br/>
	<div class="nome">
		<span class="label"><%= t ("activerecord.attributes.grupo.nome") %>:</span>
		<br/>
		<%= h @grupo.nome %>
	</div>          
	<br/>
	<div class="periodo inicio">
		<span class="label"><%= t ("app.enviar") %>:</span>
		<br/>
		
		<%= @grupo.periodicidade_formatado %>
		<span class="divisor">&raquo;</span>
		<%= @grupo.inicio_formatado %>
	</div>
	<br/>
	<div class="mensagem">
		<span class="label"><%= t ("activerecord.attributes.grupo.mensagem") %>:</span>
		<br/>
		<%= h @grupo.mensagem %>
	</div>
	<br/>                                          
	<%= render :partial => "users/grupos/contatos" %>
</div>