<div class="grupo_box grupo_box_show round shadow">
  <%= h @grupo.nome.capitalize %>
  <%= render :partial => 'users/grupos/ativar_desativar' %>
</div>
<div class="grupo_box_content round">
	<%= render :partial => "users/grupos/status" %>
	<br/>             
	
  <div class="periodo inicio">
  	<span class="label"><%= t ("app.enviar") %>:</span>
  	<br/>
	
  	<%= @grupo.periodicidade_formatado %>
  	<% if @grupo.ativo? %>
  		<span class="divisor">&raquo;</span>
  		<%= @grupo.inicio_formatado %>
  	<% end %>
  </div>
  <br/>
	
  <div class="mensagem">
  	<span class="label"><%= t ("activerecord.attributes.grupo.mensagem") %>:</span>
  	<br/>
  	<%= h @grupo.mensagem %>
  </div>
  <br/>
	
  <%= render :partial => "users/grupos/contatos" %>
</div>
