<% content_for(:javascript) do %>
	<%= javascript_include_tag 'views/grupos/item_contato' %>
	<%= javascript_include_tag 'views/grupos/show' %>
<% end %>

<h1 class="item_grupos">
	<span>
		<% link_to users_grupos_url do %>
			<%= t "app.menu.grupos" %>
		<% end %>
	</span>
	<span class="divisor">&raquo;</span>
	<span><%= t "app.grupo.visualizar" %></span>
</h1>

<%= error_messages_for :grupo %>
<%= render :partial => "users/grupos/info" %>