<% content_for(:css) do %>
	<%= stylesheet_link_tag "jquery.fancybox-1.3.1" %>
<% end %>
<% content_for(:javascript) do %>
	<%= include_javascripts :grupos_contato_seach %>
<% end %>

<h1 class="item_grupos">
	<span>
		<% link_to users_grupos_url do %>
			<%= t "app.menu.grupos" %>
		<% end %>
	</span>
	<span class="divisor">&raquo;</span>
	<span><%= t "app.grupo.visualizar" %></span>
</h1>

<%= error_messages_for :grupo, 
											 :header_message => t("app.grupo.erro.header_ativar"),
											 :message => t("app.grupo.erro.header_sub_ativar") %>
											
<%= render :partial => "users/grupos/info" %>

<div style="display: none;">                   
	<% if @grupo.inativo? %>
		<%= render :partial => "users/grupos/form_ativar" %>
	<% elsif @grupo.ativo? %>
		<%= render :partial => "users/grupos/form_desativar" %>
	<% end %>
</div>