<% unless logged_in? %>
	<div id="login">
		<% link_to login_url, :id => "link_login", 
													:class => "twitter-connect login_with_twitter",
													:title => "Login with Twitter" do %>
		  <span>Login with twitter</span>
		<% end %>                 
		<div id="executando_login">
			<div id="img"><%= image_tag 'icons/load_32.gif' %></div>
			<div id="msg"><%= t("app.login_executando") %></div>
		</div>
	</div>
<% else %> 
    <div id="user_date">
			<div id="options">
				<span id="name"><%= current_user.login %></span><br/>
				<span id="logout"><%= link_to (t 'app.logout'), logout_url %></span>
			</div>
			<div id="img">
				<%= image_tag current_user.profile_image_url %>
			</div>
	</div>
<% end %>               