<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta content="pt-br" http-equiv="Content-Language">
	<meta content="O lembre meus contatos é a melhor forma de avisar amigos, colegas e familiares sobre eventos periódicos, como aniversários, reuniões entre outros. O projeto gerencia um conjunto de mensagens que devem ser enviadas a um grupo de contatos a cada tanto tempo" name="description">
	<meta content="avisos, email, twitter, lembrete, contatos" name="keywords">

  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="expires" content = "-1" />

	<meta name="google-site-verification" content="kKFLlmfBDza1qFM-DqnK7Z_yEa0j3bbApFk3Tu4leuk" />
                         
	<%= include_stylesheets :common %>
	<%= yield :css %>
	                                    
	<% if Rails.env.production?%>                                    
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
		<%= include_javascripts :common %>
	<% else %>
		<%= include_javascripts :development %>
	<% end %>
	
	<%= yield :javascript %>
	
  <title>LembreMeusContatos</title>
</head>
<body>      
	<div id="header">
		<div id="header_corpo">
			<%= render :partial => 'layouts/logo' %>
			<%= render :partial => 'layouts/menu' %>
			<%= render :partial => 'layouts/login' %>
		</div>
	</div>
  <div style="clear: both;"></div>
	<div class="body">
		<% flash.each do |key, message| %>
			<% unless message.blank? %>
				<div id="<%= key %>" class="flash_msg round shadow"><%= message %></div>
			<% end %>
		<% end %>
		
		<div class="content shadow">
			<%= yield %>    
		</div>       
	</div>
	
	<div id="footer">
	</div>
	
	<%= include_javascripts :uservoice %>
	<% if Rails.env.production?%>                                    
		<%= javascript_include_tag "plugins/googleanalytics" %>
	<% end %>
</body>
</html>

















